:root {
  font-family: "poppins", sans-serif;
  --primary: #002659;
  --secondary: #58c5c9;
  --accent: #e5427a;
}

body {
  background-color: #f2f2f2;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
  color: var(--primary);
}

p {
  font-size: 1rem;
  font-weight: 300;
  color: var(--primary);
}

i {
  font-weight: 400;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

header {
  width: 100%;
  padding-top: 2rem;
  background: #ffffff;
}

header img {
  width: 220px;
  height: auto;
}

.heading {
  margin-top: 3rem;
}

.heading h1 {
  font-size: 3rem;
  margin: 0;
}

.heading p {
  margin: 0;
  color: var(--secondary);
}

.card {
  padding: 2rem;
  border: 1px solid var(--primary);
  border-radius: 0.5rem;
  background: #ffffff;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}

ul li {
  margin: 1.5rem 0;
}

ul li a {
  font-size: 1.125rem;
  color: var(--primary);
  padding-left: 0.5rem;
  border-left: 4px solid var(--secondary);
  transition: border ease-in-out 0.2s;
}

ul li a:hover {
  text-decoration: none;
  border-left: 8px solid var(--accent);
}
